<!DOCTYPE html>
<html lang="es">
<head>
    <title><%= title %>></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container-fluid">

        <%- body %>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/bootstrap/popper.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>

</body>
</html>