<!-- "SOLICITUDES", "DUES", "AES", botons... -->
<div id="divBotons" class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-primary text-center">SOLICITUDES</h2>
        </div>
        <div class="col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a id="tabDues" class="nav-link" data-toggle="pill" href="#dues">DUES</a>
                </li>
                <li class="nav-item">
                    <a id="tabAes" class="nav-link" data-toggle="pill" href="#aes">AES</a>
                </li>
            </ul>
        </div>
        <div class="col btn-group contenedor">
            <% if (levelAccess === 'admin') { %>
                <button id="eliminar" class="btn btn-danger rounded contenido">Eliminar</button>
                <button id="actualizar" class="btn btn-warning rounded contenido">Actualizar</button>
            <% } %>
            <button id="anyadir" class="btn btn-success rounded contenido">anyadir</button>
        </div>
    </div>
</div>

<!-- ROW PER A MOSTRAR ES MESOS -->
<div id="mesos" class="row">
    <div class="col">
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- mesos dues -->
            <div class="tab-pane container active" id="dues">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a id="tabDuesEnero" onclick="loadTable('DuesEnero')" class="mesosDues nav-link" data-toggle="pill" href="#">Enero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesFebrero" onclick="loadTable('DuesFebrero')" class="mesosDues nav-link" data-toggle="pill" href="#">Febrero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesMarzo" onclick="loadTable('DuesMarzo')" class="mesosDues nav-link" data-toggle="pill" href="#">Marzo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesAbril" onclick="loadTable('DuesAbril')" class="mesosDues nav-link" data-toggle="pill" href="#">Abril</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesMayo" onclick="loadTable('DuesMayo')" class="mesosDues nav-link" data-toggle="pill" href="#">Mayo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesJunio" onclick="loadTable('DuesJunio')" class="mesosDues nav-link" data-toggle="pill" href="#">Junio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesJulio" onclick="loadTable('DuesJulio')" class="mesosDues nav-link" data-toggle="pill" href="#">Julio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesAgosto" onclick="loadTable('DuesAgosto')" class="mesosDues nav-link" data-toggle="pill" href="#">Agosto</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesSetiembre" onclick="loadTable('DuesSetiembre')" class="mesosDues nav-link" data-toggle="pill" href="#">Setiembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesOctubre" onclick="loadTable('DuesOctubre')" class="mesosDues nav-link" data-toggle="pill" href="#">Octubre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesNoviembre" onclick="loadTable('DuesNoviembre')" class="mesosDues nav-link" data-toggle="pill" href="#">Noviembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesDiciembre" onclick="loadTable('DuesDiciembre')" class="mesosDues nav-link" data-toggle="pill" href="#">Diciembre</a>
                    </li>
                </ul>
            </div>
            <!-- mesos aes -->
            <div class="tab-pane container fade" id="aes">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a id="tabAesEnero" onclick="loadTable('AesEnero')" class="mesosAes nav-link" data-toggle="pill" href="#">Enero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesFebrero" onclick="loadTable('AesFebrero')" class="mesosAes nav-link" data-toggle="pill" href="#">Febrero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesMarzo" onclick="loadTable('AesMarzo')" class="mesosAes nav-link" data-toggle="pill" href="#">Marzo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesAbril" onclick="loadTable('AesAbril')" class="mesosAes nav-link" data-toggle="pill" href="#">Abril</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesMayo" onclick="loadTable('AesMayo')" class="mesosAes nav-link" data-toggle="pill" href="#">Mayo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesJunio" onclick="loadTable('AesJunio')" class="mesosAes nav-link" data-toggle="pill" href="#">Junio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesJulio" onclick="loadTable('AesJulio')" class="mesosAes nav-link" data-toggle="pill" href="#">Julio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesAgosto" onclick="loadTable('AesAgosto')" class="mesosAes nav-link" data-toggle="pill" href="#">Agosto</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesSetiembre" onclick="loadTable('AesSetiembre')" class="mesosAes nav-link" data-toggle="pill" href="#">Setiembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesOctubre" onclick="loadTable('AesOctubre')" class="mesosAes nav-link" data-toggle="pill" href="#">Octubre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesNoviembre" onclick="loadTable('AesNoviembre')" class="mesosAes nav-link" data-toggle="pill" href="#">Noviembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesDiciembre" onclick="loadTable('AesDiciembre')" class="mesosAes nav-link" data-toggle="pill" href="#">Diciembre</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- taula -->
<div id="tableContainer" class="row">
    <div class="col">
        <table id="table" class="table table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th>UNIDAD</th>
                <th>TURNO</th>
                <th>FECHA</th>
                <th>LICENCIA</th>
                <th>CUBRE</th>
                <th>NOTAS</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="module">
    $(document).ready(function() {
        window.alert('OK!!!')
        /*
        import dateFormat from '/node_modules/dateformat'

        window.$ = window.jquery = require('jquery');
        import '/node_modules/datatables.net-dt'
        import '/node_modules/datatables.net-responsive'

        let mesActual = (new Date().getMonth() + 1).toString()
        let table = document.getElementById('table')
        let tBodyDuesEnero = document.createElement('tbody')
        let tBodyDuesFebrero = document.createElement('tbody')
        let tBodyDuesMarzo = document.createElement('tbody')
        let tBodyDuesAbril = document.createElement('tbody')
        let tBodyDuesMayo = document.createElement('tbody')
        let tBodyDuesJunio = document.createElement('tbody')
        let tBodyDuesJulio = document.createElement('tbody')
        let tBodyDuesAgosto = document.createElement('tbody')
        let tBodyDuesSetiembre = document.createElement('tbody')
        let tBodyDuesOctubre = document.createElement('tbody')
        let tBodyDuesNoviembre = document.createElement('tbody')
        let tBodyDuesDiciembre = document.createElement('tbody')
        let tBodyAesEnero = document.createElement('tbody')
        let tBodyAesFebrero = document.createElement('tbody')
        let tBodyAesMarzo = document.createElement('tbody')
        let tBodyAesAbril = document.createElement('tbody')
        let tBodyAesMayo = document.createElement('tbody')
        let tBodyAesJunio = document.createElement('tbody')
        let tBodyAesJulio = document.createElement('tbody')
        let tBodyAesAgosto = document.createElement('tbody')
        let tBodyAesSetiembre = document.createElement('tbody')
        let tBodyAesOctubre = document.createElement('tbody')
        let tBodyAesNoviembre = document.createElement('tbody')
        let tBodyAesDiciembre = document.createElement('tbody')

        let row, cell, data, fecha

        ///// CARREGAM SES DIFERENTS TAULES, 24 EN TOTAL (12 MESOS, 2 COLECTIUS) /////
        const DBSolicitudes = require('../../models/solicitudes/crud')
        let solicitudes = await DBSolicitudes.getAll()
        window.alert('hola hola')
        solicitudes.forEach((solicitud) => {



            row = document.createElement('tr')
            row.setAttribute('id', `row-${solicitud.id}`)
            row.addEventListener('click', () => {
                ipcRenderer.send('set-id-solicitud', solicitud.id)
            })
            row.addEventListener('dblclick', () => {
                ipcRenderer.send('set-id-solicitud', solicitud.id)
                ipcRenderer.send('set-from', 'solicitudes')
                window.location.href = '../../pages/solicitudes/update.html'
            })

// Unidad
            cell = document.createElement('td')
            data = document.createTextNode(solicitud.unidad)
            cell.appendChild(data)
            row.appendChild(cell)

// Turno
            cell = document.createElement('td')
            data = document.createTextNode(solicitud.turno)
            cell.appendChild(data)
            row.appendChild(cell)

// Fecha amb format
            cell = document.createElement('td')
            fecha = document.createElement('span')
            fecha.innerHTML = "<span style='display: none'>" + solicitud.dia + "</span>" + dateFormat(solicitud.dia, "dd/mm/yyyy")
            cell.appendChild(fecha)
            row.appendChild(cell)

// Licencia
            cell = document.createElement('td')
            data = document.createTextNode(solicitud.licencia)
            cell.appendChild(data)
            row.appendChild(cell)

// Cubre
            cell = document.createElement('td')
            data = document.createTextNode(solicitud.cubre)
            cell.appendChild(data)
            row.appendChild(cell)

// Notas
            cell = document.createElement('td')
            data = document.createTextNode(solicitud.notas)
            cell.appendChild(data)
            row.appendChild(cell)

            let mes = new Date(solicitud.dia).getMonth()

            switch (solicitud.categoria) {
                case 'DUES':
                    switch (mes) {
                        case 0:
                            tBodyDuesEnero.appendChild(row)
                            break
                        case 1:
                            tBodyDuesFebrero.appendChild(row)
                            break
                        case 2:
                            tBodyDuesMarzo.appendChild(row)
                            break
                        case 3:
                            tBodyDuesAbril.appendChild(row)
                            break
                        case 4:
                            tBodyDuesMayo.appendChild(row)
                            break
                        case 5:
                            tBodyDuesJunio.appendChild(row)
                            break
                        case 6:
                            tBodyDuesJulio.appendChild(row)
                            break
                        case 7:
                            tBodyDuesAgosto.appendChild(row)
                            break
                        case 8:
                            tBodyDuesSetiembre.appendChild(row)
                            break
                        case 9:
                            tBodyDuesOctubre.appendChild(row)
                            break
                        case 10:
                            tBodyDuesNoviembre.appendChild(row)
                            break
                        case 11:
                            tBodyDuesDiciembre.appendChild(row)
                            break
                    }
                    break
                case 'AES':
                    switch (mes) {
                        case 0:
                            tBodyAesEnero.appendChild(row)
                            break
                        case 1:
                            tBodyAesFebrero.appendChild(row)
                            break
                        case 2:
                            tBodyAesMarzo.appendChild(row)
                            break
                        case 3:
                            tBodyAesAbril.appendChild(row)
                            break
                        case 4:
                            tBodyAesMayo.appendChild(row)
                            break
                        case 5:
                            tBodyAesJunio.appendChild(row)
                            break
                        case 6:
                            tBodyAesJulio.appendChild(row)
                            break
                        case 7:
                            tBodyAesAgosto.appendChild(row)
                            break
                        case 8:
                            tBodyAesSetiembre.appendChild(row)
                            break
                        case 9:
                            tBodyAesOctubre.appendChild(row)
                            break
                        case 10:
                            tBodyAesNoviembre.appendChild(row)
                            break
                        case 11:
                            tBodyAesDiciembre.appendChild(row)
                            break
                    }
                    break
            }
        })

        ///// DETERMINAM QUINA TAULA HEM DE MOSTRAR I LI DEIM A loadTable() /////
        function loadTab() {

            if (ipcRenderer.sendSync('get-colectiu-treball') === 'AES') {
// Tenim colectiu de treball AES

                $('#aes').removeClass('fade').addClass('active')
                $('#dues').removeClass('active').addClass('fade')

                $('#tabAes').addClass('active')
                $('#tabDues').removeClass('active')


                if (ipcRenderer.sendSync('get-mes-treball-aes') !== undefined) {
// Tenim mes de treball per AES
                    $('.mesosAes').removeClass('active')
                    switch (ipcRenderer.sendSync('get-mes-treball-aes')) {
                        case '1':
                            loadTable('AesEnero')
                            $('#tabAesEnero').addClass('active')
                            break
                        case '2':
                            loadTable('AesFebrero')
                            $('#tabAesFebrero').addClass('active')
                            break
                        case '3':
                            loadTable('AesMarzo')
                            $('#tabAesMarzo').addClass('active')
                            break
                        case '4':
                            loadTable('AesAbril')
                            $('#tabAesAbril').addClass('active')
                            break
                        case '5':
                            loadTable('AesMayo')
                            $('#tabAesMayo').addClass('active')
                            break
                        case '6':
                            loadTable('AesJunio')
                            $('#tabAesJunio').addClass('active')
                            break
                        case '7':
                            loadTable('AesJulio')
                            $('#tabAesJulio').addClass('active')
                            break
                        case '8':
                            loadTable('AesAgosto')
                            $('#tabAesAgosto').addClass('active')
                            break
                        case '9':
                            loadTable('AesSetiembre')
                            $('#tabAesSetiembre').addClass('active')
                            break
                        case '10':
                            loadTable('AesOctubre')
                            $('#tabAesOctubre').addClass('active')
                            break
                        case '11':
                            loadTable('AesNoviembre')
                            $('#tabAesNoviembre').addClass('active')
                            break
                        case '12':
                            loadTable('AesDiciembre')
                            $('#tabAesDiciembre').addClass('active')
                            break
                    }
                } else {
// No tenim mes de treball per AES
                    $('.mesosAes').removeClass('active')
                    switch (mesActual) {
                        case '1':
                            loadTable('AesEnero')
                            $('#tabAesEnero').addClass('active')
                            break
                        case '2':
                            loadTable('AesFebrero')
                            $('#tabAesFebrero').addClass('active')
                            break
                        case '3':
                            loadTable('AesMarzo')
                            $('#tabAesMarzo').addClass('active')
                            break
                        case '4':
                            loadTable('AesAbril')
                            $('#tabAesAbril').addClass('active')
                            break
                        case '5':
                            loadTable('AesMayo')
                            $('#tabAesMayo').addClass('active')
                            break
                        case '6':
                            loadTable('AesJunio')
                            $('#tabAesJunio').addClass('active')
                            break
                        case '7':
                            loadTable('AesJulio')
                            $('#tabAesJulio').addClass('active')
                            break
                        case '8':
                            loadTable('AesAgosto')
                            $('#tabAesAgosto').addClass('active')
                            break
                        case '9':
                            loadTable('AesSetiembre')
                            $('#tabAesSetiembre').addClass('active')
                            break
                        case '10':
                            loadTable('AesOctubre')
                            $('#tabAesOctubre').addClass('active')
                            break
                        case '11':
                            loadTable('AesNoviembre')
                            $('#tabAesNoviembre').addClass('active')
                            break
                        case '12':
                            loadTable('AesDiciembre')
                            $('#tabAesDiciembre').addClass('active')
                            break
                    }
                }
            } else {
// No tenim colectiu de treball AES. Per tant, carregam DUES

                $('#dues').removeClass('fade').addClass('active')
                $('#aes').removeClass('active').addClass('fade')

                $('#tabDues').addClass('active')
                $('#tabAes').removeClass('active')

                if (ipcRenderer.sendSync('get-mes-treball-dues') !== undefined) {
// Tenim mes de treball per DUES
                    $('.mesosDues').removeClass('active')
                    switch (ipcRenderer.sendSync('get-mes-treball-dues')) {
                        case '1':
                            loadTable('DuesEnero')
                            $('#tabDuesEnero').addClass('active')
                            break
                        case '2':
                            loadTable('DuesFebrero')
                            $('#tabDuesFebrero').addClass('active')
                            break
                        case '3':
                            loadTable('DuesMarzo')
                            $('#tabDuesMarzo').addClass('active')
                            break
                        case '4':
                            loadTable('DuesAbril')
                            $('#tabDuesAbril').addClass('active')
                            break
                        case '5':
                            loadTable('DuesMayo')
                            $('#tabDuesMayo').addClass('active')
                            break
                        case '6':
                            loadTable('DuesJunio')
                            $('#tabDuesJunio').addClass('active')
                            break
                        case '7':
                            loadTable('DuesJulio')
                            $('#tabDuesJulio').addClass('active')
                            break
                        case '8':
                            loadTable('DuesAgosto')
                            $('#tabDuesAgosto').addClass('active')
                            break
                        case '9':
                            loadTable('DuesSetiembre')
                            $('#tabDuesSetiembre').addClass('active')
                            break
                        case '10':
                            loadTable('DuesOctubre')
                            $('#tabDuesOctubre').addClass('active')
                            break
                        case '11':
                            loadTable('DuesNoviembre')
                            $('#tabDuesNoviembre').addClass('active')
                            break
                        case '12':
                            loadTable('DuesDiciembre')
                            $('#tabDuesDiciembre').addClass('active')
                            break
                    }
                } else {
// No tenim mes de treball per DUES
                    $('.mesosDues').removeClass('active')
                    switch (mesActual) {
                        case '1':
                            loadTable('DuesEnero')
                            $('#tabDuesEnero').addClass('active')
                            break
                        case '2':
                            loadTable('DuesFebrero')
                            $('#tabDuesFebrero').addClass('active')
                            break
                        case '3':
                            loadTable('DuesMarzo')
                            $('#tabDuesMarzo').addClass('active')
                            break
                        case '4':
                            loadTable('DuesAbril')
                            $('#tabDuesAbril').addClass('active')
                            break
                        case '5':
                            loadTable('DuesMayo')
                            $('#tabDuesMayo').addClass('active')
                            break
                        case '6':
                            loadTable('DuesJunio')
                            $('#tabDuesJunio').addClass('active')
                            break
                        case '7':
                            loadTable('DuesJulio')
                            $('#tabDuesJulio').addClass('active')
                            break
                        case '8':
                            loadTable('DuesAgosto')
                            $('#tabDuesAgosto').addClass('active')
                            break
                        case '9':
                            loadTable('DuesSetiembre')
                            $('#tabDuesSetiembre').addClass('active')
                            break
                        case '10':
                            loadTable('DuesOctubre')
                            $('#tabDuesOctubre').addClass('active')
                            break
                        case '11':
                            loadTable('DuesNoviembre')
                            $('#tabDuesNoviembre').addClass('active')
                            break
                        case '12':
                            loadTable('DuesDiciembre')
                            $('#tabDuesDiciembre').addClass('active')
                            break
                    }
                }
            }
        }

        ///// MOSTRAM SA TAULA QUE ENS INDICA loadTab(),
        ///// BÉ SEGONS ES NAV-ITEM CLICKAT, O BÉ SEGONS ENS VE DESDE solicitudespendientes.html   /////
        function loadTable(taula) {
            $('#table').find('tbody').remove()
            switch (taula) {
                case 'DuesEnero':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '1')
                    table.appendChild(tBodyDuesEnero)
                    break
                case 'DuesFebrero':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '2')
                    table.appendChild(tBodyDuesFebrero)
                    break
                case 'DuesMarzo':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '3')
                    table.appendChild(tBodyDuesMarzo)
                    break
                case 'DuesAbril':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '4')
                    table.appendChild(tBodyDuesAbril)
                    break
                case 'DuesMayo':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '5')
                    table.appendChild(tBodyDuesMayo)
                    break
                case 'DuesJunio':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '6')
                    table.appendChild(tBodyDuesJunio)
                    break
                case 'DuesJulio':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '7')
                    table.appendChild(tBodyDuesJulio)
                    break
                case 'DuesAgosto':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '8')
                    table.appendChild(tBodyDuesAgosto)
                    break
                case 'DuesSetiembre':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '9')
                    table.appendChild(tBodyDuesSetiembre)
                    break
                case 'DuesOctubre':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '10')
                    table.appendChild(tBodyDuesOctubre)
                    break
                case 'DuesNoviembre':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '11')
                    table.appendChild(tBodyDuesNoviembre)
                    break
                case 'DuesDiciembre':
                    ipcRenderer.send('set-colectiu-treball', 'DUES')
                    ipcRenderer.send('set-mes-treball-dues', '12')
                    table.appendChild(tBodyDuesDiciembre)
                    break
                case 'AesEnero':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '1')
                    table.appendChild(tBodyAesEnero)
                    break
                case 'AesFebrero':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '2')
                    table.appendChild(tBodyAesFebrero)
                    break
                case 'AesMarzo':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '3')
                    table.appendChild(tBodyAesMarzo)
                    break
                case 'AesAbril':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '4')
                    table.appendChild(tBodyAesAbril)
                    break
                case 'AesMayo':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '5')
                    table.appendChild(tBodyAesMayo)
                    break
                case 'AesJunio':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '6')
                    table.appendChild(tBodyAesJunio)
                    break
                case 'AesJulio':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '7')
                    table.appendChild(tBodyAesJulio)
                    break
                case 'AesAgosto':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '8')
                    table.appendChild(tBodyAesAgosto)
                    break
                case 'AesSetiembre':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '9')
                    table.appendChild(tBodyAesSetiembre)
                    break
                case 'AesOctubre':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '10')
                    table.appendChild(tBodyAesOctubre)
                    break
                case 'AesNoviembre':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '11')
                    table.appendChild(tBodyAesNoviembre)
                    break
                case 'AesDiciembre':
                    ipcRenderer.send('set-colectiu-treball', 'AES')
                    ipcRenderer.send('set-mes-treball-aes', '12')
                    table.appendChild(tBodyAesDiciembre)
                    break
            }

///// HEIGHT DE SA TAULA /////
            let alturaScrollY = $(window).height()
                - $('#linksGransIPetits').height()
                - $('#divBotons').height()
                - $('#mesos').height()
                - 60 + 'px'

            $('#table').DataTable({
                "destroy": true,
                "scrollY": alturaScrollY,
                "scrollCollapse": true,
                "paging": false,
                "searching": false,
                "bInfo": false,
                "order": [2, 'asc']
            }).on('click', 'tbody tr', function (event) {
                $(this).addClass('highlight').siblings().removeClass('highlight')
            }).draw()
        }

        loadTab()

        $('#tabDues').click(() => {
            $('#dues').removeClass('fade').addClass('active')
            $('#aes').removeClass('active').addClass('fade')
            ipcRenderer.send('set-colectiu-treball', 'DUES')
            loadTab()
        })

        $('#tabAes').click(() => {
            $('#aes').removeClass('fade').addClass('active')
            $('#dues').removeClass('active').addClass('fade')
            ipcRenderer.send('set-colectiu-treball', 'AES')
            loadTab()
        })

        $("#eliminar").click(function () {
            let solicitud = ipcRenderer.sendSync('get-id-solicitud')
            if (solicitud == null) return window.alert("Debes seleccionar una solicitud primero.")
            ipcRenderer.send('set-from', 'solicitudes')
            window.location.href = '../../pages/solicitudes/remove.html'
        })

        $("#actualizar").click(function () {
            let solicitud = ipcRenderer.sendSync('get-id-solicitud')
            if (solicitud == null) return window.alert("Debes seleccionar una solicitud primero.")
            ipcRenderer.send('set-from', 'solicitudes')
            window.location.href = '../../pages/solicitudes/update.html'
        })

        $('#anyadir').click(function () {
            ipcRenderer.send('set-from', 'solicitudes')
            window.location.href = '../../pages/solicitudes/add.html'
        })
         */
    })
</script>

