<div class="contenidor">
    <div class="contingut">
        <br>
        <div>
            <form method="POST" action="/unidades/anyadir" onsubmit="return validarUnidad()">
                <h4 class="gestiounidad">Añada la unidad:<br><br>
                    <input id="unidad" type="text" name="unidad" size="50" class="inputnovalicencia" autofocus>
                </h4>
                <br>
                <div class="btn btn-group rounded">
                    <button id="cancelar" type="button" class="btn btn-secondary" onclick="cancelar()">Cancelar</button>
                </div>
                <div class="btn btn-group rounded">
                    <button type="submit" class="btn btn-success">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $('#cancelar').click(function () {
        window.location.href = '/unidades'
    })

    function validarUnidad() {

        if ($('#unidad').val() === '') {
            alert('Debe indicar una unidad.')
            return false
        } else { return true }
    }

</script>