<div class="container-fluid">
    <div class="row flex-column">
        <div class="col">
            <h2 class="text-primary text-center">UNIDADES</h2>
        </div>
    </div>

    <div class="row">
        <div class="col"><br>
            <div class= "table-wrapper-scroll-y my-custom-scrollbar">
                <table id="table" class="table table-bordered table-sm table-hover">
                    <!-- AQUÍ SA TAULA DE UNIDADES -->
                    <tbody>
                    <% unidades.forEach(unidad => { %>
                        <tr><td><%= unidad.unidad %></td></tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="btn-group contenedor">
                <button id="eliminar" class="btn btn-danger rounded contenido">Eliminar</button>
                <button id="actualizar" class="btn btn-warning rounded contenido">Actualizar</button>
                <button id="anyadir" class="btn btn-success rounded contenido">Añadir</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        let valor = null;

        $("#table tr").click(function(){
            $(this).addClass('highlight').siblings().removeClass('highlight');
            valor = $(this).find('td:first').html();
        });

        $('#eliminar').click(function () {
            if (valor != null) {
                window.location.href = '/unidades/eliminar?unidad=' + valor
            } else {
                window.alert('Debes seleccionar primero la unidad que quieres eliminar.')
            }
        })

        $('#actualizar').click(function () {
            if (valor != null) {
                window.location.href = '/unidades/actualizar?unidad=' + valor
            } else {
                window.alert('Debes seleccionar primero la unidad que quieres actualizar.')
            }
        })

        $('#anyadir').click(function () {
            window.location.href = '/unidades/anyadir'
        })
    })
</script>

