<br><br><br>

<style>
    .contenidor {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .contingut {
        text-align: center;
    }
</style>

<div class="contenidor">
    <div class="contingut">
        <br>
        <form action="/master/download" method="post">
            <h4 style="alignment: center;color: #007bff">Iniciar descarga de todas las bases de datos de la aplicación:<br><br>
                <br><br>
            </h4>
            <br>
            <div class="btn btn-group rounded">
                <button type="submit" class="btn btn-primary">Descargar</button>
            </div>
        </form>
    </div>
</div>
