<div class="contenidor">
    <div class="contingut">
        <br>
        <div>
            <h4 class="gestiounidad">¿Seguro que desea eliminar la licencia<br><br>
                <div class="removeupdateunitat"><%= licencia %></div><br>
                de la lista de Unidades?
            </h4>
            <br>
            <div class="btn btn-group rounded">
                <button id="cancelar" type="button" class="btn btn-secondary" onclick="cancelar()">Cancelar</button>
            </div>
            <div class="btn btn-group rounded">
                <button id="submit" type="submit" class="btn btn-warning">Eliminar</button>
            </div>
        </div>
    </div>
</div>