
        <div class="container-fluid">
            <div class="row flex-column">
                <div class="col">
                    <h2 class="text-primary text-center">LICENCIAS</h2>
                </div>
            </div>

            <div class="row">
                <div class="col"><br>
                    <div class= "table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="table" class="table table-bordered table-sm table-hover">

                            <!-- AQUÍ SA TAULA DE LICENCIAS -->
                            <h1><%= licencias.length %></h1>

                        </table>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-group contenedor">
                        <button id="eliminar" class="btn btn-danger rounded contenido">Eliminar</button>
                        <button id="actualizar" class="btn btn-warning rounded contenido">Actualizar</button>
                        <button id="anyadir" class="btn btn-success rounded contenido">Añadir</button>
                    </div>
                </div>
            </div>
        </div>